* {
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #2672f6;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    color: black;
    background-color: #ece8e5;
    width: 100px;
    padding: 5px;
    border-radius: 10%;
    font-size: 14px;
    font-weight: 400;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: #ece8e5;
}

.blank {
    box-sizing: border-box;
    background-color: #ece8e5;
}

.painted {
    background-color: #ff9c12;
}
