* {
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #2672f6;
}

/* Buttons container */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Buttons stylization */

#clear,
#rainbow {
    color: #2672f6;
    background-color: #ece8e5;
    padding: 5px;
    border: none;
	border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Gill Sans', Calibri, sans-serif;
    user-select: none;
}

#checkbox-btn input[type=checkbox]:checked + #rainbow,
#clear:hover:active {
    color: #ece8e5;
    background-color: #2672f6;
    border: 3px solid #ece8e5;
}

#clear:hover,
#rainbow:hover {
    color: #2672f6;
    border: 3px solid #ff9c12;
}

#checkbox-btn input[type=checkbox]:checked:hover + #rainbow {
    border: 3px solid #ff9c12;
}

#checkbox-btn input[type=checkbox] {
    display: none;
}

/* Drawing canvas container */
#container {
    background-color: #ff9c12;
    padding: 3px;
}

/* Canvas itself */
#canvas {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: #ece8e5;
}

/* Drawing canvas units */

.blank,
.rainbowed,
.painted
 {
    background-color: inherit;
}
